.button {
    width: 135px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 48px;
    border: none;
    border-radius: 6px;
    background-color: #ffbc33;
    box-shadow: (0px 2px 4px rgba(0, 0, 0, 0.15));
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #fafafa;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: #ffb522;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width: 768px) {
        width: 160px;
    }
}
.button:not(:last-child) {
    margin-right: 10px;
    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 8px;
    }
}
