@import '../../sass/colors';

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
    color: var(--color-black);
    background-color: var(--footer-mobile-color);
    border: 2px solid var(--footer-mobile-color);
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: var(--weekday-color);
}