 .statsmobile {
     font-family: inherit;
     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     line-height: 1.25;
     letter-spacing: 0.04em;
     text-align: left;
     color: #a6abb9;
     margin-top: 0;
     margin-bottom: 2px;
     padding-top: 12px;
     margin-left: 20px;



     &__wrapper {
         display: flex;
         justify-content: space-between;
         padding-bottom: 12px;
         width: 218px;
         margin-left: 20px;
         margin-top: 0;

     }

     &__points {
         font-weight: bold;
         margin-right: 20px;
     }
 }

 .react-sweet-progress-symbol {
     display: none;
 }

 .react-sweet-progress {
     width: 100px;
     margin-left: 19px;
 }

 .wrap {
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #F1F1F1;
     width: 320px;
     margin: 0 auto;
     height: 58px;
 }