

.menuContainer{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 3;

    background-color: #FFBC33;

    @media screen and (min-width: 320px){
       width: 280px;
    }
}
.menuHeader{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 40px 20px;
}




.userItem{
    padding-left:15px ;
    &:first-child{
        padding-left: 0;
        border-right: 1px solid white;
        padding-right: 15px;
    }
}



.button{
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer;
}
.crossIcon{
    color: '#fff';
    transition: transform 250ms ease-in-out;
    &:hover,
    &:focus{
        transform: scale(1.15);
    }
}
