:root {
    --primary-bcg-color: #FAFAFA;
    --secondary-bcg-color: #FFFFFF;
    --input-form-color: #F6F7FB;
    --footer-mobile-color: #F1F1F1;
    --orange-color: #FFBC33;
    --points-color: #5679D7;
    --days-check-color: #3E7ADC;
    --success-color: #8EC63F;
    --fail-color: #FF4965;
    --progressbar-done-color: #9ECB44;
    --progressbar-undone-color: #E0E0E0;
    --weekday-color: rgba(255, 255, 255, 1);
    --plus-btn-color: linear-gradient(180deg, #FFB532 0%, #FFD521 100%);
    --color-bar-bckg: #a6abb9;
    --box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
    --color-black: #000000;
    --color-link: #858598;
    --color-mail: #45454b;
}