.project-colors {
    --primary-bcg-color: #E5E5E5;
    --secondary-bcg-color: #FFFFFF;
    --input-form-color: #F6F7FB;
    --footer-mobile-color: #F1F1F1;
    --orange-color: #FFBC33;
    --points-color: #5679D7;
    --days-check-color: #3E7ADC;
    --success-color: #8EC63F;
    --fail-color: #FF4965;
    --primary-fonts-color: red
}