

.userInfo{
    display: flex;
    align-items: center;
}

.userItem{
    padding-left:15px ;
    &:first-child{
        padding-left: 0;
        border-right: 1px solid white;
        padding-right: 15px;
    }
}

.logoutBtn{
    border: none;
    background-color: transparent;
}