@import "../../sass/colors";
@import "../../sass/vars";

.userInfo {
    display: flex;
    align-items: center;
}

.text {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25;
}

.userItem {
    padding-left: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    color: white;

    &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        border-right: 1px solid var(--secondary-bcg-color);
        padding-right: 15px;

        @media screen and (min-width: 768px) {
            border-right: 1px solid var(--color-link);
        }
    }

    @media screen and (min-width: 768px) {
        color: var(--color-link);
    }
}

.logoutBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover .icon {
        fill: var(--color-black);

    }
}

.icon {
    fill: var(--secondary-bcg-color);
    transition: fill $transition-style;

    @media screen and (min-width: 768px) {
        fill: var(--color-link);
    }
}

.iconName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #2196F3;
    border-radius: 50%;
    margin-right: 10px;

    font-size: 20px;
    color: var(--secondary-bcg-color);

}

.buttonList {
    display: flex;
    margin-top: 10px;
}

.item {
    width: 100px;
    height: 48px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.wrapper {
    padding: 20px;
    text-align: center;
}