@import '../../../sass/colors.scss';
@import '../../../sass/mixins';

.card {
    max-width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;

    // @media screen and (min-width: 768px) {
    //     width: 100px;
    // }
}

.imageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 95px;
    // height: 95px;
    border: 5px solid var(--orange-color);
    border-radius: 50%;
    overflow: hidden;

    @include breakpointFrom(tablet) {
        width: 100px;
        height: 100px;
    }
}

.img {
    // height: 100%;
    width: 145%;
}

.title {
    max-width: 100px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-black);
}