.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;

  @media screen and (min-width: 768px) {
    // padding-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    // min-height: 60%;
  }
}

.message {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.link {
  min-width: 220px;
  min-height: 48px;
  display: flex;
  background-color: #FFBC33;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  line-height: 1.2;
  font-weight: 500;
  font-size: 12px;
}

.noTasks {
  width: 100%;
  background-image: url('../../assets/images/desktop/1x/planer\ 1x.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1280px) {
    bottom: -40px;
  }
}
