.prize__label {
    display: inline-flex;
    align-items: center;
}

.title {
    margin-left: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.2em;

    color: #000000;
}