.info {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 32px;
    }
}

.prize__label {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    // margin-top: 20px;
    // margin-bottom: 32px;
}

.title {
    margin-left: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.2em;

    color: #000000;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// .item {}

.btn {
    margin-left: auto;
    margin-right: auto;
    // height: 48px;
    width: 135px;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 220px;
        margin-top: 67px;
        margin-bottom: 0px;
        // margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 60px;
        // margin-bottom: 13px;
    }
}

///////////modal///

.box {
    // outline: 1px solid red;
    // padding: 60px 28px;
    padding-top: 60px;
    padding-right: 28px;
    padding-left: 28px;

    @media screen and (min-width: 768px) {
        padding-top: 120px;
        // margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        // margin-top: 60px;
        // margin-bottom: 15px;
    }
}

.modal__list {
    // padding: 20px;
    // margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
}

.modal__item {
    margin-bottom: 50px;

    &:nth-child(even) {
        margin-left: 25px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 55px;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }
}