// .container {
//   max-width: 960px;
//   margin: 0 auto;
//   padding: 16px;
//   padding-bottom: 16px;
// }

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;

  >nav {
    display: flex;
  }
}

.logo {
  display: flex;
  align-items: center;
  // font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;

  &.active {
    color: white;
    background-color: orangered;
  }
}

.logoImg {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 8px;
}
