
.logo{
    padding: 22px 0px;
    display: inline-block;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}