@import '../../../sass/mixins';

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1200;
}

.Modal {
  position: absolute;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);

  min-width: 280px;
  // padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  border-radius: 5px;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 14px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  cursor: pointer;

  // transition: background-color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: makeTransition((transform));

  &:hover {
    transform: scale(1.1);
  }
}