.title {
    // max-width: 240px;
    margin-bottom: 24px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    text-align: center;

    color: #000000;

    @media screen and (min-width: 768px) {
        padding: 0 50px;
        margin-bottom: 40px;
        max-width: 550px;
        // margin-top: 130px;
        font-size: 30px;
        line-height: 1.24;
    }
}