.imgWrap {
    position: absolute;
    top: -100px;
    left: 70px;
    width: 132px;
    height: 152px;
    background-image: url('../../../assets/images/mobile/1x/Cat1x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../../../assets/images/mobile/2x/Cat2x.png');
    }

    @media screen and (min-width: 768px) {
        width: 200px;
        height: 230px;
        top: -115px;
        left: 195px;
        background-image: url('../../../assets/images/tablet/1x/Cat1x.png');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../../../assets/images/tablet/2x/Cat2x.png');
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url('../../../assets/images/desktop/1x/Cat1x.png');

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url('../../../assets/images/desktop/2x/Cat2x.png');
        }
    }
}
