@import '../../sass/colors.scss';
.auth_form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 320px;
    margin-bottom: 60px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 400px;
        padding: 40px 32px;
        background-color: var(--secondary-bcg-color);

        box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 394px;
        padding: 40px;
        margin-left: auto;
        margin-right: 123px;
        margin-bottom: 100px;
    }

    &_text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.04em;
        margin-bottom: 35px;
        color: var(--color-link);
    }

    &_google_button {
        width: 150px;
        display: flex;
        align-items: center;
        padding: 11px 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;
        color: var(--color-black);
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 30px;
        background-color: var(--input-form-color);
        border-radius: 6px;
        box-shadow: var(--box-shadow-authForm);

        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
        &:hover {
            transform: scale(1.05);
        }
    }

    &_icon_google {
        margin-right: 10px;
        width: 18px;
        height: 18px;
    }

    &_label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.04em;
        color: var(--color-link);
        margin-bottom: 12px;
    }

    &_span {
        color: var(--fail-color);
    }

    &_input {
        width: 100%;
        height: 42px;
        background-color: var(--input-form-color);
        box-shadow: var(--box-shadow-authForm-input);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.04em;
        color: var(--color-bar-bckg);
        border: none;

        padding: 12px 22px 12px 8px;
        margin-top: 10px;

        &__black {
            color: var(--color-black);

            font-size: 44px;
            line-height: 1.23;
        }
    }

    &_inner_btn {
        display: flex;
        justify-content: center;
    }

    &_validation {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.04em;

        color: var(--fail-color);
    }
}

.item {
    min-width: 135px;

    @media screen and (min-width: 768px) {
        width: 160px;
    }

    &:not(:last-child) {
        margin-right: 10px;

        @media screen and (min-width: 768px) {
            margin-right: 16px;
        }

        @media screen and (min-width: 1280px) {
            margin-right: 8px;
        }
    }
}
