@import '../../sass/colors';
@import '../../sass/mixins';
.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  background-color: var(--secondary-bcg-color);
}

.container {

  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;

}

.button {
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  
  @include breakpointFrom(tablet){
    margin-right: 32px;
  }

  @include breakpointFrom(desktop){
    display: none;
  }
  & .iconMenu{
    color: var(--color-link);
    transition: makeTransition(color transform);
  }
  &:hover .iconMenu,
  &:focus .iconMenu{
    color: var(--black-color);
    transform: scale(1.02);
  }

}

.loggedWrapper {
  @include breakpointTo(tablet){
    display: none;
    color: var(--color-link);
  }
}
.languageWrapper{
  margin-left: auto;
  
}