.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--primary-bcg-color);
  padding-top: 20px;
  gap: 28px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    margin: 0;
    background-color: var(--orange-color);
  }

  @media screen and (min-width: 1280px) {
    width: 229px;
    position: relative;
  }
}

.tabs {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 4px;
  margin: 0;

  @media screen and (min-width: 768px) {
    height: 70px;
    gap: 16px;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 0;
    gap: 8px;
    top: 20%;
    // transform: translateY(-30%);
    flex-wrap: wrap;
  }
}

.item {
  width: 35px;
  height: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #FFBC3380;
  transition: transform .25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 26px;
    background-color: #FFFFFF80;
  }

  @media screen and (min-width: 1280px) {
    width: 181px;
    height: 42px;
    border-radius: 6px 0px 0px 6px;
    margin-left: auto;
    transform-origin: center right;
  }
}

.active {
  background-color: var(--orange-color);

  @media screen and (min-width: 768px) {
    background-color: var(--secondary-bcg-color);
    transform: scale(1.03);
  }


  @media screen and (min-width: 1280px) {
    box-shadow: -4px 2px 3px 0px #dfa838;
    background: linear-gradient(to right, var(--secondary-bcg-color), var(--primary-bcg-color));

  }
}


.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000;

  @media screen and (min-width: 768px) {}

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
    padding-left: 20px;

  }
}
