@import '../../sass/colors.scss';
.footer {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: flex-end;
        margin-top: 45px;
        margin-right: 16px;
        margin-bottom: 40px;
    }

    &_list {
        display: block;
        margin: 0 auto;
        align-items: center;
        text-align: center;

        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
            display: inline-flex;
        }

        @media screen and (min-width: 1280px) {
            margin-right: 0;
        }
    }

    &_item {
        margin-bottom: 8px;

        &:first-child {
            display: inline-flex;
            border-left: none;
        }

        @media screen and (min-width: 768px) {
            border-left: var(--border-color);
            margin-bottom: 0;
        }
    }

    &_text {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        color: var(--color-link);

        margin-right: 10px;
        margin-left: 10px;
    }
}
