.footer {
        margin-top: 60px;
      
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: flex-end;
        margin-right: 16px;
        margin-bottom: 40px;
    }

    &_list {
        display: block;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 768px) {
         
                margin-bottom: 0;
                display: inline-flex;
            }
        @media screen and (min-width: 1280px) {
        
            margin-right: 0;
            
            }
     
    }
    &_item {
        padding: 0px 10px;
        border-left: 1px solid #e5e5e5;
        &:first-child {
            display: flex;
            border-left: none;
        }
         
    }
    
    &_item1 {
        padding: 0px 10px;
        border-left: 1px solid #e5e5e5;
        margin: 0 auto;
    
        &:first-child {
            display: inline-flex;
            border-left: none;
            }
         
     
          }

    &_text {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        color: #858598;
    }
}

// .wrapper_info {
//     // display: flex;
//     // flex-wrap: nowrap;
// }
