.footer {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    &_list {
        display: inline-flex;
        text-align: center;
    }
    &_item {
        padding: 0px 10px;
        border-left: 1px solid #e5e5e5;
        &:first-child {
            display: flex;
            border-left: none;
        }
    }
    &_text {
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.08em;

        color: #858598;
    }
}

// .wrapper_info {
//     // display: flex;
//     // flex-wrap: nowrap;
// }
