



.scoreBox {
    display: flex;
    align-items: center;

    margin-left: 40px;
    margin-right: auto;

    font-weight: 700;
    font-size: 14px;
    @media screen and (min-width: 1280px){
        margin-left: 130px;
    }
}

.item:first-child {
    font-weight: 500;
    font-size: 12px;
    color: #a6abb9;
    margin-right: 8px;
}
