.box {
    position: fixed;
    max-width: 500px;
    bottom: 17px;
    right: 20px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    @media screen and (min-width: 768px) {
        position: static;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    @media screen and (min-width: 1280px) {
        // margin-left: auto;
        // margin-right: 0;

        position: static ;
        z-index: 0;
        margin: 0;
        padding: 0;
    }
}

.text {
    font-weight: 500;
    font-size: 12px;
    color: #a6abb9;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 54px;
    height: 54px;
    margin-left: 20px;

    background: linear-gradient(180deg, #ffb532 0%, #ffd521 100%);
    transition: box-shadow 250ms ease-in-out;
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.topWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    padding: 16px;

    background-image: url('../../assets/images/desktop/1x/RobotModal1x.png');
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../../assets/images/desktop/2x/RobotModal2x.png');
    }
}

// .closeButton{
//     border: none;
//     background-color: transparent;
//     margin-left: auto;
//     cursor: pointer;
//     height: 18px;
//     padding: 0;
//     transition: transform 250ms ease-in-out;

//     &:hover,
//     &:focus .cross{
//         transform: scale(1.15);

//     }
// }

.imageLabel {
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-left: auto;
    transition: transform 250ms ease-in-out;

    &:hover,
    &:focus .imageIcon {
        transform: scale(1.1);
    }
}

.bottomWrapper {
    width: 100%;
    padding: 23px 30px;
    background-color: #ffb532;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
}
.formButton {
    width: 60px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    border-radius: 5px;
    border: none;

    background-color: white;

    font-weight: bold;
    transition: box-shadow 250ms ease-in-out;
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.item {
    outline: none;
    background-color: #ffb532;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-style: italic;
    transition: transform 250ms ease-in-out;
    &:first-child {
        margin-bottom: 10px;
    }
    &::placeholder {
        color: white;
    }
    &:hover,
    &:focus {
        transform: scaleX(1.05);
    }
}
.imageInput {
    display: none;
}
