@import '../../../sass/_mixins.scss';

.card {
  // max-width: 280px;
  // height: 263px;
  position: relative;

  box-shadow: (4px 6px 15px rgba(0, 0, 0, 0.1));
  border-radius: 6px;

  @media screen and (min-width: 768px) {
    // max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    // max-width: 288px;
  }

  transition: makeTransition((transform box-shadow));

  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: (8px 10px 19px rgba(0, 0, 0, 0.1));
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // height: 194px;
  height: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  width: 100%;
  height: 69px;
  background-color: #FFBC33;
  border-radius: 0px 0px 6px 6px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.reward {
  padding: 3px 10px;

  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;

  border-radius: 3px;
  background-color: #5679D7;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 30px;
}

.img {
  height: 194px;
  object-fit: cover;
}
