.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  // padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    // padding: 0px 16px 0 107px;
    // width: 100%;
    // display: flex;
  }
}

.main {
  width: 320px;
  padding: 0px 20px 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 100%;
    padding: 0px 16px 0 107px;
  }
}

.contentHeader {

  display: flex;
  flex-direction: column-reverse;
  padding: 20px 0 32px;

  @media screen and (min-width: 768px) {
    padding: 32px 0;
    padding: 40px 0 32px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    // flex: 1;
  }
}

.info {
  background-color: #FAFAFA;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // margin-top: 20px;

  @media screen and (min-width: 768px) {
    // padding-left: 0;
    // margin-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    // margin-top: 0;
    align-items: flex-start;
    // padding-left: 10%;
  }
}

.progress {
  width: 100%;

  @media screen and (max-width: 767.98px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  @media screen and (min-width: 1280px) {}
}
