@import '../../sass/mixins';

.container {
  height: 100%; ////////// ?
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include breakpointFrom(desktop) {
    overflow-y: scroll;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  max-width: 320px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  // height: calc(100vh - 166px);

  @include breakpointFrom(tablet) {
    padding: 0;
    max-width: 768px;
    padding: 0 32px;
    height: auto;
  }

  @include breakpointBetween(tablet, desktop) {
    max-width: 768px;
    margin: 0 auto;
  }

  @include breakpointFrom(desktop) {
    padding: 0;
    // overflow-y: auto;
    // width: calc(100% - 229px);
    max-width: 100%;
  }
}

.main {
  width: 100%;
  margin: 0 auto;

  @include breakpointFrom(tablet) {
    padding-bottom: 0;
  }

  @include breakpointFrom(desktop) {
    padding: 0px 16px 0 107px;
  }
}

.contentHeader {

  display: flex;
  flex-direction: column-reverse;
  padding: 20px 0 32px;

  @include breakpointFrom(tablet) {
    padding: 40px 0 32px;
  }

  @include breakpointFrom(desktop) {
    flex-direction: row;
  }
}

.info {
  background-color: var(--primary-bcg-color);
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include breakpointFrom(tablet) {
    // padding-left: 0;
  }

  @include breakpointFrom(desktop) {
    align-items: flex-start;
  }
}

.progress {
  width: 100%;

  @include breakpointTo(tablet) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  @include breakpointFrom(desktop) {}

}
