.weekBox {
    position: absolute;
    top: -14px;
    left: 166px;
    width: 114px;
    height: 208px;
    border-radius: 6px;
    background-color: #3E7ADC;
text-align: center;
padding-top: 13px;

}

.day {
    display: inline-block;
font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 10px;
margin-left: 10px;
}