.weekBox {
  position: absolute;
  bottom: 69px;
  right: 0;
  width: 114px;
  height: 208px;
  border-radius: 6px;
  background-color: #3e7adc;
  padding-top: 13px;
  padding-left: 33px;
}


.label {
  position: relative
}


.checkBox {
  position: absolute;
  left: 10px;
  top: 10px;

}
